<% include header %>

    <div style = "margin-left: 400px; margin-top: 100px" class = "container">
        <div class = "well" style = "width : 500px">
            <form action = "/blogs" method = "post" class = "form-group">
                <input  style = "margin : 6px" class = "form-control"  name = "blogs[title]" type = "text" placeholder = "enter title">
                <input  style = "margin : 6px" class = "form-control"  name =   "blogs[url]" type ="text" placeholder = "enter url">
                <input  style = "margin : 6px" class = "form-control"  name =  "blogs[text]" placeholder = "text" type = "text"> 
                <button style = "margin : 6px"  class = "btn btn-primary form-control">Submit</button>
            </form>
        </div>
    </div>
    
<% include footer %>