<% include header %>
  
  <div class= "container images">
  
  <div class = "inner-box">
     <h2> Welcome to my blogs </h2>
     <h4> click to check your blogs</h4>
    <a href = "/blogs" type = "submit" class = "btn btn-danger"> BLOGS</a>
  </div>
  
  </div>
  
<% include footer %>