<% include header %>
<div class = "container">
    <h1> Log in! </h1>
        <div class = "well">
        <form class = "form-group" method = "POST" action = "/login">
            <input type = "text" class= "form-control" placeholder = "username" name = "username">
            <input type = "password" class = "form-control" placeholder = "password" name = "password"> 
            <input type = "submit" class= "btn btn-primary" class = "form-group">     
        </form>
    </div>
    </div>
    
<% include footer %>    