<% include header %>
    <div class = "container">
    <h1> Sign up! </h1>
    <div class = "well">
        <form class = "form-group" method = "POST" action = "/register">
            <input type = "text" class= "form-control" placeholder = "username" name = "Username">
            <input type = "password" class = "form-control" placeholder = "password" name = "Password"> 
            <input type = "submit" class= "btn btn-primary" class = "form-group">     
        </form>
    </div>
    <</div>
    
<% include footer %>    